body {
    font-size: var(--font-size-400);
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    background-color: var(--white);
}

.flex-row {
    display: flex;
    gap: var(--spacing-200);
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}