:root {

    /* Colors */

    /* Primary */

    /* active input border */
    --active-input-border: hsl(278, 94%, 30%);
    /* hsl(249, 99%, 64%) */

    /* input errors */
    --primary-red: hsl(0, 100%, 66%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    --very-dark-violet-hover: hsl(278, 68%, 19%);

    /* Typography */
    --font-size-100: 10px;
    --font-size-200: 12px;
    --font-size-300: 16px;
    --font-size-400: 18px;
    --font-size-500: 20px;
    --font-size-600: 22px;
    --font-size-1000: 30px;

    --font-family: 'Space Grotesk', sans-serif;

    --font-weight-normal: 500;
    --font-weight-bold: 700;

    --line-height-heading: 1.1;
    --line-height-base: 1.5;


    /* Spacing */
    --spacing-200: 0.5rem;
    --spacing-300: 0.75rem;
    --spacing-400: 1rem;
    --spacing-500: 1.25rem;
    --spacing-600: 1.5rem;
    --spacing-700: 1.75rem;
    --spacing-800: 2rem;
    --spacing-900: 2.5rem;
    --spacing-1000: 3.5rem;

    /* Other */
    --border-radius-soft: 10px;


    --box-shadow: 2px 2px 8px rgba(0 0 0 / 0.2);



    /* Layout - The designs were created to the following widths:

        - Mobile: 375px
        - Desktop: 1440px */

}